<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{% block title %}Eagle Eye Networks - Proctor{% endblock %}</title>
        <script type="text/javascript">
         {% include 'proctor/js/min-jquery.js' %}
        </script>
       
        <style>
            {% include 'proctor/styles/base.css' %}
        </style>
        {% if ctxt_id %}
        <style>
            {% include 'proctor/styles/dark_flat.css' %}
        </style>
        {% endif %}
        <script type="text/javascript">
            var context_class = "{{ctxt_klass}}";
            var context_id = "{{ctxt_id}}";
        </script>
        {% block proctorjs %}
        
        {% endblock %}
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}"/>
    </head>

    <body>
        <div id="container" class="proctor">
            {% block content %}
                
            {% endblock %}
        </div>

    </body>
</html>